@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary: #212529;
  --secondary: #fff;
}

body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 20px 0;
}

button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

/* navbar */
header nav {
  display: flex;
  gap: 4.4rem;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}

header nav h1 {
  margin-right: auto;
}

header nav a {
  text-decoration: none;
  color: #868e96;
  padding: 6px;
  border-radius: 4px;
}

header nav a.active {
  color: var(--primary);
  font-weight: bold;
}

header nav a:hover {
  color: var(--primary);
}

/* page content */
main {
  max-width: 1200px;
  margin: 20px auto;
}

.center-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title {
  font-size: larger;
}

.font__size {
  font-size: large;
}

.contact {
  font-size: large;
}
p {
  margin-bottom: 40px;
}

.contact__form .form-control {
  padding: 0.5rem 0.5rem;
  line-height: 1.5;
  border-radius: 0 !important;
  border: 1px solid;
}

.ac_btn {
  padding: 0.5rem 2rem;
}
/* help layout */

/* faq */

/* careers list */

/* careers details */

/* breadcrumbs */
